function toFixed(number, precision) {
    return number.toFixed(precision);
}

function stockDescription(stock) {
    if (stock === 0)
        return "❌ Out of stock";
    else if (stock < 200)
        return "⚠ Low stock";
    else
        return "✔ Sufficient stock";
}

module.exports = {
    toFixed: toFixed,
    stockDescription: stockDescription
};
